<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/menu.css" media="screen">

	<script src="http://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="../../scripts/menu.js"></script>

    <title>Coding-Studio by Simon Fermor</title>
</head>

<body>

    <header>
		<div id="menu">
		</div>
    </header>

	<div class="container">
		<h1>Blockly Games: Solutions</h1>
		<section id="links">
      <ul class="links">
  			<li><a href="https://blockly-games.appspot.com/?lang=en">Blockly Games</a></li>
  			<li><a href="https://blockly-games.appspot.com/turtle?lang=en#n9fwed">Turtle 1: Draw a square</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=2#mqad99">Turtle 2: Draw a pentagon</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=3#is4tna">Turtle 3: Draw a yellow star</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=4#35fz42">Turtle 4: Draw a small yellow star and a line</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=5#8qsa6q">Turtle 5: Draw four stars in a square arrangement</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=6#xgk3az">Turtle 6: Draw three stars and a line</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=7#67wfmp">Turtle 7: Three stars and a group of lines</a></li>
        <li><a href="https://blockly-games.appspot.com/turtle?lang=en&level=8#ts2e4w">Turtle 8: Three stars and a sun</a></li>
        <li><a href="">Turtle </a></li>
        <li><a href="">Turtle </a></li>

  		</ul>

		</section>
	</div>

<script>


</body>

</html>
