<!DOCTYPE html>
<html>
	<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">

	<link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/menu.css" media="screen">

	<script src="http://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="../../scripts/menu.js"></script>

	<title>Coding-Studio by Simon Fermor</title>
</head>

<body>

<header>
	<div id="menu">
	</div>
</header>

<div class="container">
<h1>Session 9</h1>

	<section>

		<p>We started by taking a computer science warm up <a href="https://brilliant.org/practice/labyrinth-escape/?subtopic=types-and-data-structures&chapter=fun-computer-science-quizzes">quiz</a> on the Brilliant web site.</p>

		<p>We then tried out bubble and insertion sorting algorithms.  We started with students in order of last name and sorted in birthday month and day of month order.  We looked at videos showing examples of sorting.</p>

		<p>We then opened some JavaScript projects and looked at a few games.  Games in 
		  the JavaScript Projects for Kids are Chapter 5: Battleship, Chapter 7: Clock, Chapter 8: PacMan, Chapter 9: Hangman.</p>

		<p>Finally, we looked at some other websites with examples of JavaScript.</p>

	</section>

	<section>
		<h3>Resources</h3>
		<ul class="links">
			<li><a href="https://brilliant.org/practice/labyrinth-escape/?subtopic=types-and-data-structures&chapter=fun-computer-science-quizzes">Brilliant Labrynth Liberation Puzzle</a></li>
			<li><a href="https://atom.io/">Atom text editor</a></li>
			<li><a href="https://www.dropbox.com/sh/0f6rmmu902q9rdq/AAAlV4keZXOyaOJqjd8CzC7da?dl=0">JavaScript projects examples zip file</a></li>
			<li><a href="https://www.packtpub.com/web-development/javascript-projects-kids">JavaScript Projects for Kids (PACKT Books)</a></li>
			<li><a href="http://www.sorting-algorithms.com/">Demonstration of sorting algorithms</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Bubble_sort">Bubble Sort (Wikipedia)</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Insertion_sort">Insertion Sort (Wikipedia)</a></li>
			<li><a href="http://sdk.sphero.com/community-apis/javascript-sdk/">Sphero - JavaScript API</a></li>
			<li><a href="https://cylonjs.com/">Cylon.js - JavaScript framework for robotics</a></li>
			<li><a href="http://cse4k12.org/advinjs/index.html">Adventures in JavaScript game</a></li>
			<li><a href="https://youtu.be/lyZQPjUT5B4">Bubble sort dance</a></li>
			<li><a href="https://youtu.be/JdXoUgYQebM">Beautiful sorting video</a></li>
			<li><a href="https://youtu.be/kPRA0W1kECg">15 Sorting Algorithms in 6 minutes</a></li>
			<li><a href="http://js1k.com/">JavaScript code golfing competition</a></li>
			<li><a href="http://csunplugged.org/sorting-algorithms/">CS Unplugged: Sorting Algorithms</a></li>
			<li><a href="http://jsforcats.com/">JavaScript for Cats</a></li>
			<!-- <li><a href=""></a></li> -->
		</ul>
	</section>

</div>

</body>
</html>
