<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

    <title>Coding-Studio by Simon Fermor</title>
  </head>

  <body>

    <header>
		<div class="container">
			<h1>Coding Studio</h1>
			<h2>Coding fun at Rochester Montessori middle school</h2>
		</div>
		<div class="container">
			<nav>
				<a href="">Home</a> |
				<a href="">Notes</a> |
				<a href="">Resources</a> |
				<a href="">Useful Links</a>
			</nav>
		</div>
    </header>

	<div class="container">
	<h1>Session 3</h1>
	<section id="sign-up-sites">
<p>
<ol>
<li>
Use the script to animate your name: change colors, switch circles/squares, add another color
</li>
<li>
Draw a robot or house on paper and then create in Kahn Academy new program (using elipses, rectangles, lines and triangles)
</li>
<li>
Move on to coloring with code in Kahn Academy
	<p>

</p>
<h3>Processing JS Functions</h3>
	<h4>background(255, 0, 0);</h4>

<h3>Resources</h3>
<ol>
<li>
400x400 grid paper: <a href="https://s3.amazonaws.com/KA-share/cs/HandoutGraphPaper.pdf">https://s3.amazonaws.com/KA-share/cs/HandoutGraphPaper.pdf</a>
<li>
Browse Kahn Academy projects: <a href="https://www.khanacademy.org/computing/computer-programming/browse">https://www.khanacademy.org/computing/computer-programming/browse</a>
<li>Rubiks Cube: <a href="http://ondras.zarovi.cz/demos/rubik/">http://ondras.zarovi.cz/demos/rubik/</a>
</li>
<li>
The Wealth and Health of Nations: <a href="http://bost.ocks.org/mike/nations/">http://bost.ocks.org/mike/nations/</a>
</li>
<li>
Software Carpentry: <a href="http://software-carpentry.org/">http://software-carpentry.org/</a>
</li>
<li>
Animate your name: <a href="https://www.codecademy.com/learn/all">https://www.codecademy.com/learn/all</a>
</li>
</ol>
</section>
</div>

</body>
</html>
