<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/menu.css" media="screen">

	<script src="http://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="../../scripts/menu.js"></script>

    <title>Coding-Studio by Simon Fermor</title>
</head>

  <body>

<header>
	<div id="menu">
	</div>
</header>

<div class="container">
<h1>Session 6</h1>

	<section>
		<p>We started by looking at flow chart symbols and created a flow chart for making a PB&J sandwich.</p>
		
		<p>We looked at how graphics can be represented using a sequence of numbers for blank and filled dots.
		We completed a worksheet activity.
		
		<p>We worked through Kahn Academy sections on Mouse Interactions and Text and Strings.
		</p>

	</section>

	<section>
		<h3>Resources</h3>
		<ul class="links">
			<li><a href="https://www.smartdraw.com/flowchart/flowchart-symbols.htm">Flow Chart Symbols</a></li>
			<li><a href="https://www.lucidchart.com/">Lucid Chart - online charting</a></li>
			<li><a href="http://www.bu.edu/gk12/tyler/lessons/PBJ/PBJ.htm">Ethyl the robot makes a PB&J sandwich</a></li>
			<li><a href="https://www.khanacademy.org/computing/computer-programming/programming/interactive-programs/p/mouse-interaction">Kahn Academy: Mouse Interaction</a></li>
			<li><a href="https://www.khanacademy.org/computing/computer-programming/programming/text-basics/p/terrific-text-part-one">Kahn Academy: Text and Strings</a></li>
			<li><a href="https://processing.org/">Processing</a></li>
			<li><a href="https://www.desmos.com/calculator/iby4vbtpjx">Spiral Graph</a></li>
		</ul>
	</section>

</div>

</body>
</html>
