<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/print.css" media="print">

    <title>Coding-Studio by Simon Fermor</title>
  </head>

  <body>

    <header>
		<div class="container">
			<h1>Coding Studio</h1>
			<h2>Coding fun at Rochester Montessori middle school</h2>
		</div>
		<!--
		<div class="container">
			<nav>
				<a href="">Home</a> |
				<a href="">Notes</a> |
				<a href="">Resources</a> |
				<a href="">Useful Links</a>
			</nav>
		</div>
		-->
    </header>

	<div class="container">
	<h1>Session 4</h1>
	<section id="sign-up-sites">
<p>
The theme for the fourth session was variables and binary numbers.
<p>
We started by talking about variables and how they can be used.  Variables are named
locations where values can be stored and can then be referenced by name in a program.
<p>
We played a game in which each student played the role of a variable and we explored using the
variables in an algorithm for calculating and printing values in the Fibonacci series.
<p>
The algorithm has been converted to <a href="https://jsfiddle.net/simonfermor/9crzaoer">JavaScript</a>
<p>
We watched the Kahn Academy <a href="https://www.khanacademy.org/computing/computer-programming/programming">video on Variables</a> and worked through the challenges.
<p>
Finally, we talked about binary numbers and worked through some examples of binary addition on the board.
We discussed the binary growth sequence 1,2, 4, 8, 16, 32, 64 etc. and why binary is important when
computers use storage registers that can only be on or off, or store 0 or 1.
<h3>Resources</h3>
<ol>
<li>
Fibonacci example in JavaScript: <a href="https://jsfiddle.net/simonfermor/9crzaoer/1/">
https://jsfiddle.net/simonfermor/9crzaoer/1/</a>
</li>
<li>
Fibonacci graphic examples: <a href="https://www.google.com/search?site=imghp&tbm=isch&q=fibonacci%20series&tbs=sur:fmc">https://www.google.com/search?site=imghp&tbm=isch&q=fibonacci%20series&tbs=sur:fmc</a>
</li>
</ol>
</section>
</div>

</body>
</html>
