<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/menu.css" media="screen">

	<script src="http://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="../../scripts/menu.js"></script>

    <title>Coding-Studio by Simon Fermor</title>
</head>

  <body>

<header>
	<div id="menu">
	</div>
</header>

<div class="container">
<h1>Session 4</h1>

	<section>
		<p>
		The theme for the fourth session was variables and binary numbers.
		<p>
		We started by talking about variables and how they can be used.  Variables are named
		locations where values can be stored and can then be referenced by name in a program.
		<p>
		We played a game in which each student played the role of a variable and we explored using the
		variables in an algorithm for calculating and printing values in the Fibonacci series.
		<p>
		The algorithm has been converted to <a href="https://jsfiddle.net/simonfermor/9crzaoer/4">JavaScript</a>
		<p>
		We watched the Kahn Academy <a href="https://www.khanacademy.org/computing/computer-programming/programming">video on Variables</a> and worked through the challenges.
		<p>
		Finally, we talked about binary numbers and worked through some examples of binary addition on the board.
		We discussed the binary growth sequence 1,2, 4, 8, 16, 32, 64 etc. and why binary is important when
		computers use storage registers that can only be on or off, or store 0 or 1.
	</section>

	<section>
		<h3>Resources</h3>
		<ul class="links">
		<li><a href="https://jsfiddle.net/simonfermor/9crzaoer/4/">Fibonacci example in JavaScript</a>
		</li>
		<li><a href="https://www.google.com/search?site=imghp&tbm=isch&q=fibonacci%20series&tbs=sur:fmc">Fibonacci graphic examples</a>
		</li>
		</ul>
	</section>

</div>

</body>
</html>
